// Colors
$red: #A33;
$dark-grey: #333;
$grey: #666;
$blue: #005f8f;
$dark-blue: #364051;
$off-white: #f7f7f7;

$default-bg: #fcfcfc;

// font family
$font-default : 'Noto Sans Thai', sans-serif;
$font-secondary : 'Poppins', sans-serif;

//font color
$font-color-default : #000000;
$font-color-white : #ffffff;
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.0rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
